<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Meu Mural</h2>
    <button class="botao" routerLink="/create-notes">
      Adicionar pensamento
    </button>
    <ng-container *ngIf="notes$ | async as notes">
      <div class="mural" *ngIf="notes.length > 0; else emptyNotes">
        <ng-container *ngFor="let note of notes">
          <app-cards [note]="note"></app-cards>
        </ng-container>
      </div>
    </ng-container>

    <ng-template #emptyNotes>
      <div class="ff-inter sem-pensamentos">
        <p>Ainda não há pensamentos cadastrados!</p>
      </div>
    </ng-template>
  </header>
</section>
