<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>
      Adicione um <br />
      pensamento novo:
    </h2>
  </header>

  <ng-container *ngIf="previewNotes$ | async as notes">
    <form [formGroup]="form" (ngSubmit)="createNote()">
      <label for="pensamento">Pensamento</label>
      <input
        type="textarea"
        class="input"
        id="pensamento"
        placeholder="Digite o pensamento"
        formControlName="conteudo"
      />
      <label for="autoria">Autoria ou Fonte</label>
      <input
        type="textarea"
        class="input"
        id="autoria"
        placeholder="Digite a autoria ou fonte"
        formControlName="autoria"
      />

      <label for="modelo">Selecione o modelo do card:</label>
      <div class="container-radio">
        <ng-container *ngFor="let note of notes">
          <div class="radio-modelo">
            <label for="{{ note.modelo }}">
              <input
                type="radio"
                id="{{ note.modelo }}"
                value="{{ note.modelo }}"
                formControlName="modelo"
              />
              <div class="custom-radio">
                <span></span>
              </div>
              <span>{{ note.titulo }}</span>
            </label>
            Prévia:
            <div class="modelo {{ note.modelo }} ff-roboto-mono">
              <img
                src="../../../../assets/imagens/{{ note.modelo }}.png"
                alt="Aspas {{ note.cor_aspas }}"
              />
              <p class="conteudo">{{ note.conteudo }}</p>
              <p class="autoria">
                <b>{{ note.autoria }}</b>
              </p>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="acoes">
        <button class="botao" routerLink="/">Cancelar</button>
        <button class="botao" type="submit">Salvar</button>
      </div>
    </form>
  </ng-container>
</section>
